@import '/assets/scss/colors.scss';

.ruqi {
  padding: 0 24px 48px 44px;
  letter-spacing: normal;
  font-size: 16px;

  .container {
    max-width: 100%;
    margin: 0;
  }

}

/* Colors*/
.color-black {
  color: $black;
}

.color-green {
  color: $green;
}

.color-main {
  color: $blue;
}

/* Grid*/

.w-100 {
  width: 100%;

  > div {
    width: 100%;
  }
}

.divider-mar {
  margin: 38px 0 26px 0;
}


/* Blocks */

.bar-element {
  border: 1px solid #E4E9EE;
  border-radius: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  color: $grey;
  overflow: hidden;

  .inner-indent {
    padding: 24px;
  }

  .bar-element-title {
    margin-bottom: 16px;
  }

  .bar-element-row {
    margin-bottom: 16px;

    .title-row {
      margin-right: 8px;
    }
  }

  .bar-element-row-top-margin {
    margin-top: 24px;
  }

  .bar-element-row:last-child {
    margin-bottom: 0;
  }

}

.wrapp-alert {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

  .v-alert {
    margin: 0;
  }
}


/* Buttons  */

.ruqi {
  .v-btn.btn-blue {
    background: #0082DE;
    color: white;
    border: none;
  }

  .theme--light.v-btn:focus::before {
    opacity: 0;
  }
}


/* Headers */

h1 {
  font-size: 44px;
  color: $black;
  margin: 40px 0;
}

h1.big {
  font-size: 44px;
}

h1.large {
  font-size: 28px;
}

.wrap-composite-header h1.large {
  margin: 0;
}

/* Text */

.no-wrap {
  white-space: nowrap;
}

/* Fields style */

.ruqi {
  .v-select > .v-input__control > .v-input__slot {
    border-radius: 10px;
  }

  .v-select__slot {
    height: 44px;
  }

  .v-text-field--outlined > .v-input__control > .v-input__slot,
  .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
    min-height: 44px;
    background: transparent;
  }

  .v-text-field--enclosed .v-input__append-inner {
    margin-top: 10px;
  }

  .v-text-field--outlined.v-input--is-focused fieldset,
  .v-text-field--outlined.v-input--has-state fieldset {
    border: 1px solid $table-border-color;
  }

  .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover {
    background: $table-hover-input;

    .v-text-field--outlined.v-input--is-focused fieldset,
    .v-text-field--outlined.v-input--has-state fieldset {
      border: 1px solid $table-border-color;
    }
  }

  .v-text-field fieldset {
    border-radius: 4px;
  }

  .v-text-field fieldset,
  .v-text-field .v-input__control,
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset,
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
    color: $table-border-color;
  }

  .theme--light.v-text-field--outlined.v-select:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
    border: none;
    box-shadow: 0 4px 25px #EDEEF1;
  }

  .v-input--selection-controls__input .v-icon {
    color: $table-border-color;
  }

  .v-input--selection-controls__input .v-icon.mdi-checkbox-marked {
    color: $blue;
  }

  .v-sheet.v-list {
    border-radius: 10px;
  }

  .theme--light.v-select .v-select__selections {
    color: $blue;
  }

  .theme--light.v-select.v-input--is-readonly .v-select__selections,
  .theme--light.v-input.v-input--is-readonly input {
    color: $grey;
  }

  .theme--light.v-btn:hover::before,
  .theme--light.v-btn.v-btn--icon:hover {
    color: $blue;
  }

  .v-btn.v-btn--text {
    border-radius: 8px;
  }

  .v-text-field--outlined .v-label {
    top: 13px;
  }

  .v-text-field--outlined .v-label.v-label--active {
    top: 18px;
  }

  .v-menu__content a {
    text-decoration: none;
    text-transform: uppercase;
    color: $grey;
    padding: 0 16px;
  }

  .v-subheader {
    font-size: 16px;
    font-weight: 600;
  }

  .row-auto .v-input {
    flex: none;
  }

  .row-auto .v-input__control {
    flex-grow: 0;
    width: auto;
  }

  .theme--light.v-label {
    color: $black;
  }
}

/* Tabs */

.ruqi {

  .table-filter-row {
    .v-tabs {
      width: auto;
      flex: 0;
    }
  }

  .form-tabs .v-slide-group__content {
    border-bottom: 1px solid $table-border-color;
  }

  .v-tabs-slider-wrapper {
    bottom: -1px;
  }

  .v-tab {
    padding: 0 10px;
    min-width: 40px;
    letter-spacing: normal;

    img,
    .v-icon {
      padding: 10px;
      border-radius: 10px;
    }
  }

  .v-tab.v-tab--active {
    img,
    .v-icon {
      background: $light_blue;
    }
  }

  .v-tab:before,
  .v-tab.v-tab--active:before {
    display: none;
  }

  .icon-tabs {
    .v-tabs-slider-wrapper {
      display: none;
    }

    .v-tab {
      padding: 0;
      margin-left: 10px;
      border-radius: 10px;
    }
  }

  .form-tabs {
    margin-bottom: 48px;

    .v-tab {
      border-bottom: 1px solid $table-border-color;
      text-transform: none;
      font-size: 16px;
      color: $dark-grey;
      font-weight: 600;
      height: 48px;
      padding: 0 12px;
    }

    .v-tab.v-tab--active {
      color: $blue;
    }

    .v-tab:first-child {
      padding-left: 0;
    }
  }

  .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
    color: $dark-grey;
  }

  .theme--light.v-tabs > .v-tabs-bar {
    background-color: transparent;
  }

}

/* Table filter*/
.ruqi {

  .table-filter-row {

    align-items: center;
    min-height: 56px;

    .v-input {
      margin-right: 18px;
    }

    .v-input--selection-controls {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .table-filter-row.large {
    min-height: 75px;
  }
}


/* Table list style */

.table-list-style .v-data-table > .v-data-table__wrapper {

  table {
    border-collapse: separate;
    border-spacing: 0 16px;
    color: $grey;
    font-weight: 600;

    thead th {
      border: none !important;
      padding: 10px 20px !important;
      white-space: nowrap;

      span {
        text-transform: uppercase;
      }
    }

    tbody tr {
      cursor: pointer;
      border-radius: 10px;
      z-index: 0;
      position: relative;

      td {
        padding: 10px 20px;
        height: 85px;
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
        transition: box-shadow 0.2s ease-in;
        font-size: 16px;
      }


      td:first-child {
        border-radius: 14px 0 0 14px;
        border-left: 1px solid $table-border-color;
      }

      td:last-child {
        border-radius: 0 14px 14px 0;
        border-right: 1px solid $table-border-color;
      }


    }

    tbody tr:hover {
      box-shadow: 0 4px 25px #EDEEF1;
      z-index: 100;

      td {
        background: #fff;
      }

      td:first-child {
        border-radius: 14px 0 0 14px;
      }

      td:last-child {
        border-radius: 0 14px 14px 0;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.table-list-style.select .v-data-table > .v-data-table__wrapper {

  tbody {
    tr {
      td:first-child {
        width: 40px;
      }
    }
  }
}

.table-filter-row {
  padding-bottom: 2px;
  margin-bottom: 24px;
}


.table-list-style-nospacing {
  .v-data-table.theme--light {
    background: transparent;

    > .v-data-table__wrapper {
      overflow: visible;

      table {
        border-collapse: separate;
        border-spacing: 0;
        color: $grey;
        font-weight: 600;
        border-radius: 14px;
        margin-bottom: 16px;

        thead {

          th {
            border: none !important;
            padding: 10px 12px !important;
            background: transparent;

            span {
              text-transform: uppercase;
            }

            .v-data-table__checkbox {
              display: none;
            }
          }
        }

        tbody {
          box-shadow: 0 6px 73px rgb(0 0 0 / 7%);
          border-radius: 14px;

          tr {
            cursor: pointer;
            border-radius: 10px;
            z-index: 0;
            position: relative;
            background: transparent;
            box-shadow: none;

            td {
              padding: 10px 12px;
              height: 85px;
              border-bottom: 1px solid $table-border-color;
              font-size: 16px;

              .v-btn {
                border-radius: 8px;
                margin-right: 8px;
                font-weight: 700;
                color: $grey;
              }

              .v-btn:last-child {
                margin-right: 0;
              }

              table {
                .v-btn {
                  color: #fff;
                }

                fieldset {
                  border-radius: 4px;
                }
              }

              .v-text-field__details {
                position: absolute;
                bottom: -25px;
                left: 0;
                min-width: 100px;
                padding: 0;
              }

              .v-input__slot {
                margin-bottom: 0;
                min-height: 40px;
              }

              .v-select__slot {
                height: 40px;
              }
            }

            td:first-child {
              border-left: 1px solid $table-border-color;
            }

            td:last-child {
              border-right: 1px solid $table-border-color;
            }
          }

          tr.v-data-table__expanded__row {
            td {
              background: #F6FBFF;
            }
          }

          tr.v-data-table__expanded__content {

            background: #F6FBFF;

            tbody {
              box-shadow: none;
              border-radius: 0;

              td {
                border: 0;

                .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot,
                .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover {
                  background: #fff;
                }
              }
            }

          }

          tr:first-child {
            td {
              border-top: 1px solid $table-border-color;
            }

            td:first-child {
              border-top-left-radius: 14px;
            }

            td:last-child {
              border-top-right-radius: 14px;
            }
          }

          tr:last-child {
            td {
              border-bottom: 1px solid $table-border-color;
            }

            td:first-child {
              border-bottom-left-radius: 14px;
            }

            td:last-child {
              border-bottom-right-radius: 14px;
            }

            td.total{
              background: $light_blue;
              height: 47px;
              color: $black;
              font-weight: 700;
            }
          }

          tr:hover {
            td {
              background: #F6FBFF;
            }
          }

          tr:first-child:hover {
            td:first-child {
              border-top-left-radius: 14px;
            }

            td:last-child {
              border-top-right-radius: 14px;
            }
          }

          tr:last-child:hover {
            td:first-child {
              border-bottom-left-radius: 14px;
            }

            td:last-child {
              border-bottom-right-radius: 14px;
            }
          }

        }

      }

      a {
        text-decoration: none;
      }
    }
  }
}

/* Pagination */

.ruqi {
  .v-application .primary {
    color: $blue !important;
    border-color: $blue !important;
    background: #fff !Important;
  }

  .v-pagination__item,
  .v-pagination__item--active,
  .v-pagination__navigation {
    box-shadow: none;
    border: 1px solid #DFE3E8;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .v-pagination__item {
    margin: 0 4px;
  }

  .v-pagination__navigation {
    margin: 0 4px;
  }


  .pagination-page-num {
    .v-text-field--outlined > .v-input__control > .v-input__slot {
      width: 32px;
      height: 32px;
      padding: 2px !Important;
      margin: 0;
      min-height: 32px;
    }

    fieldset {
      border-radius: 4px;
      padding: 0;
    }

    .v-input input {
      text-align: center;
    }

  }
}


/* Forms */

.wrap-form {
  max-width: 803px;

  .form-part {
    background: #F6FBFF;
    padding: 32px 150px 32px 28px;
    border: 1px solid $table-border-color;
    border-radius: 30px;
    margin-bottom: 24px;
    color: $black;

    .form-part-title {
      font-size: 20px;
      color: inherit;
      font-weight: 600;
      margin-bottom: 24px;
    }

    .form-part-label {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 16px;
    }

    .form-part-label.spacer{
      margin-top: 32px;
    }

    .form-part-description {
      font-size: 14px;
      line-height: 16px;
      color: $grey;
      margin-bottom: 24px;
    }

    .v-select > .v-input__control > .v-input__slot {
      border-radius: 4px;
    }
  }

  .form-part.min-padding {
    padding: 32px 28px;
  }

  .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
    background: #fff;
  }

  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: $table-border-color;
  }

  .add_link {
    display: block;
    color: $blue;
    margin-top: 24px;
    font-weight: 600;
    text-decoration: none;
  }

  .add_link:hover {
    text-decoration: underline;
  }

  .remove-item {
    margin-left: 16px;
    margin-top: 14px;
  }

  .form-part-contact {
    position: relative;

    >.remove-item {
      position: absolute;
      right: 32px;
      top: 32px;
      margin: 0;
    }
  }

}

.wrap-form.full {
  max-width: 100%;
}



